body
{
color:aqua;
background-color: aquamarine;
}
.heading
{
width:80%;
font-size: 25px;
}
#camera
{
border: 2px dashed black;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
color: darkcyan;
}